@use 'materials';

body {
    background-color: materials.$nav-text-color;
    margin: 0;
}

.nav-bar {
    display: flex;
    background: materials.$secondary-color;
    height: 64px;
    width: auto;
    padding: 0 5.5vw;

    .logo_v2-container {
        width: 830px;

        .logo_v2 {
            margin-top: 8px;
            height: 45px;
            width: 74.9px;
        }
    }

    

    .btns {
        display: flex;
        align-items: center;

        .btn {
            font-family: materials.$font;
            font-size: 16px;
            border: none;
            margin: 0 12px;
        }
    
        .btn:nth-child(1), .btn:nth-child(2) {
            color:  materials.$nav-text-color;
            font-weight: 500;
            background: none;
        }

        .btn:nth-child(3) {
            color:  materials.$nav-text-color;
            font-weight: 700;
            background: materials.$button-color;
            border-radius: 5px;
            padding: 4px 6px;
        }
    }

}

.intro-container {
    display: flex;
    align-items: center;
    padding: 60px 50px;
    background: yellow;

    .main-intro {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-right: 30px;

        %tagline-style {
            font-family: materials.$font;
            color: #040404;
        }

        .tagline {
            @extend %tagline-style;
            font-size: 41px;
            font-weight: 800;
            font-style: italic;

            .color-emphasize {
                color: materials.$secondary-color;
            }

            .bg-emphasize {
                border-radius: 10px;
                background: materials.$primary-color;
            }
        }

        .sub-tagline {
            @extend %tagline-style;
            font-size: 16px;
            font-weight: 500;

            .sub-color-emphasize {
                color: materials.$secondary-color;
                font-weight: 700;
            }
        }
    }

    .logo-intro {

        .skyscraper {
            width: 549px;
            height: 506px;
            border-radius: 40px;
        }
    }
}