@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,600;1,800&family=Playfair+Display+SC:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
  margin: 0;
}

.nav-bar {
  display: flex;
  background: #6437A0;
  height: 64px;
  width: auto;
  padding: 0 5.5vw;
}
.nav-bar .logo_v2-container {
  width: 85%;
}
.nav-bar .logo_v2-container .logo_v2 {
  margin-top: 8px;
  height: 45px;
  width: 74.9px;
}
.nav-bar .btns {
  display: flex;
  align-items: center;
}
.nav-bar .btns .btn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: none;
  margin: 0 12px;
  height: 35px;
}
.nav-bar .btns .btn:nth-child(1), .nav-bar .btns .btn:nth-child(2) {
  color: #f4f4f4;
  font-weight: 500;
  background: none;
  padding: 5px 10px;
  transform: perspective(1px) translateZ(0);
}
.nav-bar .btns .btn:nth-child(1):hover, .nav-bar .btns .btn:nth-child(2):hover {
  color: #6437A0;
}
.nav-bar .btns .btn:nth-child(1):hover::before, .nav-bar .btns .btn:nth-child(2):hover::before {
  transform: scaleY(1);
}
.nav-bar .btns .btn:nth-child(1):before, .nav-bar .btns .btn:nth-child(2):before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  transition: 0.3s ease-out;
  transform: scaleX(0);
  transform-origin: 50% 0;
  border-radius: 5px;
  background: #f4f4f4;
}
.nav-bar .btns .btn:nth-child(3) {
  color: #f4f4f4;
  font-weight: 700;
  background: #28104E;
  border-radius: 5px;
  padding: 5px 10px;
}
.nav-bar .btns .btn:nth-child(3) span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.nav-bar .btns .btn:nth-child(3) span:after {
  content: "☏";
  position: absolute;
  opacity: 0;
  top: -3px;
  right: 20px;
  transition: 0.5s;
}
.nav-bar .btns .btn:nth-child(3):hover span {
  padding-right: 25px;
}
.nav-bar .btns .btn:nth-child(3):hover span:after {
  opacity: 1;
  right: 0;
}

.intro-container .main-intro .sub-tagline, .intro-container .main-intro .tagline, .contact-container h1, .about-us-container h1, .webdev-container h1, .smm-container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 41px;
  font-weight: 800;
  color: #040404;
}

.about-us-container, .webdev-container, .smm-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
}

.contact-container h1, .about-us-container h1, .webdev-container h1, .smm-container h1 {
  color: #6437A0;
  margin-bottom: 60px;
}

.webdev-container img, .smm-container img {
  width: 80%;
  max-width: 1120px;
  margin-bottom: 73px;
}

.intro-container {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 60px;
  height: 517px;
  padding: 57px 0;
}
.intro-container .main-intro {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  right: 50%;
  margin-left: 50px;
}
.intro-container .main-intro .tagline {
  font-style: italic;
}
.intro-container .main-intro .tagline .color-emphasize {
  color: #6437A0;
}
.intro-container .main-intro .tagline .bg-emphasize {
  border-radius: 10px;
  background: #DEACF5;
}
.intro-container .main-intro .sub-tagline {
  font-size: 16px;
  font-weight: 500;
}
.intro-container .main-intro .sub-tagline .sub-color-emphasize {
  color: #6437A0;
  font-weight: 700;
}
.intro-container .logo-intro {
  position: absolute;
  left: 55%;
  margin-right: 30px;
}
.intro-container .logo-intro .skyscraper {
  width: 95%;
  height: 96%;
  border-radius: 40px;
  box-shadow: -10px 10px 8px #B8B8B8;
}

.smm-container {
  background: #DEACF5;
}
.webdev-container img {
  width: 43%;
  max-width: 700px;
  box-shadow: -10px 10px 8px #B8B8B8;
}

.ecs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
  height: 583px;
  padding: 57px 60px;
  background: #DEACF5;
}
.ecs-container .ecs {
  width: 30%;
  max-width: 500px;
}
.ecs-container .ecs-sample {
  width: 706px;
  height: 506px;
  border-radius: 20px;
  background: #f4f4f4;
}

.about-us-container {
  row-gap: 40px;
  padding: 46px 60px;
  background: #6437A0;
}
.about-us-container h1 {
  margin-bottom: 0;
  color: #DEACF5;
}
.about-us-container p {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 800;
  margin-bottom: 84px;
  max-width: 1120px;
  color: #DEACF5;
}
.about-us-container img {
  width: 35%;
  max-width: 500px;
  min-width: 300px;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  column-gap: 10%;
  padding: 30px;
  background: #28104E;
}
.contact-container img {
  width: 150px;
}
.contact-container div {
  display: flex;
  flex-direction: column;
  column-gap: 15px;
  text-align: left;
  row-gap: 8px;
}
.contact-container div a {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #DEACF5;
  text-decoration: none;
}
.contact-container h1 {
  color: #DEACF5;
  margin: auto 0;
}

/*# sourceMappingURL=index.css.map */
