@use 'materials';

html {
    scroll-behavior: smooth;
}

body {
    background-color: materials.$nav-text-color;
    margin: 0;
}

.nav-bar {
    display: flex;
    background: materials.$secondary-color;
    height: 64px;
    width: auto;
    padding: 0 5.5vw;
    

    .logo_v2-container {
        width: 85%;

        .logo_v2 {
            margin-top: 8px;
            height: 45px;
            width: 74.9px;
        }
    }

    

    .btns {
        display: flex;
        align-items: center;

        .btn {
            font-family: materials.$font;
            font-size: 16px;
            border: none;
            margin: 0 12px;
            height: 35px;
        }
    
        .btn:nth-child(1), .btn:nth-child(2) {
            color:  materials.$nav-text-color;
            font-weight: 500;
            background: none;
            padding: 5px 10px;
            transform: perspective(1px) translateZ(0);

            &:hover {
                color: materials.$secondary-color;
            }

            &:hover::before {
                transform: scaleY(1);
            }
            
            &:before {
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                transition: 0.3s ease-out;
                transform: scaleX(0);
                transform-origin: 50% 0;
                border-radius: 5px;
                background: materials.$nav-text-color;
            }
        }

        .btn:nth-child(3) {
            color:  materials.$nav-text-color;
            font-weight: 700;
            background: materials.$button-color;
            border-radius: 5px;
            padding: 5px 10px;

            span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

            span:after {
                content: '\260F';
                position: absolute;
                opacity: 0;
                top: -3px;
                right: 20px;
                transition: 0.5s;
            }
            
            &:hover span {
                padding-right: 25px;
                
            }
    
            &:hover span:after {
                opacity: 1;
                right: 0;
            }
        }

        
    }

}

%intro-style {
    font-family: materials.$font;
    font-size: 41px;
    font-weight: 800;
    color: #040404;
}

%column-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 28px 0;
}

%heading-styles {
    @extend %intro-style;
    color: materials.$secondary-color;
    margin-bottom: 60px;
}

%services-sample { 
    width: 80%;
    max-width: 1120px;
    margin-bottom: 73px;
}

.intro-container {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 60px;
    height: 517px;
    padding: 57px 0;

    .main-intro {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        right: 50%;
        margin-left: 50px;


        .tagline {
            @extend %intro-style;
            font-style: italic;

            .color-emphasize {
                color: materials.$secondary-color;
            }

            .bg-emphasize {
                border-radius: 10px;
                background: materials.$primary-color;
            }
        }

        .sub-tagline {
            @extend %intro-style;
            font-size: 16px;
            font-weight: 500;

            .sub-color-emphasize {
                color: materials.$secondary-color;
                font-weight: 700;
            }
        }
    }

    .logo-intro {
        position: absolute;
        left: 55%;
        margin-right: 30px;

        .skyscraper {
            width: 95%;
            height: 96%;
            border-radius: 40px;
            box-shadow: materials.$shadow;
        }
    }
}

.smm-container {
    @extend %column-container;
    background: materials.$primary-color;

    h1 {
        @extend %heading-styles;  
    }

    img {
        @extend %services-sample;
    }
}

.webdev-container {
    @extend %column-container;

    h1 {
        @extend %heading-styles;
    }

    img {
        @extend %services-sample;
        width: 43%;
        box-shadow: materials.$shadow;
    }
}

.ecs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    height: 583px;
    padding: 57px 60px;
    background: materials.$primary-color;

    .ecs {
        width: 30%;
    }

    .ecs-sample {
        width: 706px;
        height: 506px;
        border-radius: 20px;
        background: materials.$nav-text-color;
    }
}

.about-us-container {
    @extend %column-container;
    row-gap: 40px;
    padding: 46px 60px;
    background: materials.$secondary-color;

    h1 {
        @extend %heading-styles;
        margin-bottom: 0; 
        color: materials.$primary-color;
    }

    p {
        font-family: materials.$font;
        font-size: 21px;
        font-weight: 800;
        margin-bottom: 84px;
        color: materials.$primary-color;
    }

    img {
        width: 35%;
        margin-bottom: 40px;
    }

}